<nav class="navbar navbar-dark navbar-expand-lg justify-content-center" style="background-color: #3366cc">
   <a class="navbar-brand" href="#"> LAD </a>

   <div class="navbar-nav">
          <a class="nav-link active" href="Partecipazione"> Partecipazione </a>
          <a class="nav-link" href="Completamento"> Completamento </a>
          <a class="nav-link" href="EsamiEVoti"> Esami E Voti </a>
          <a class="nav-link" href="DivisioneInGruppi"> Divisione In Gruppi </a>
   </div>  
</nav>